@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #F5F5F5;
  --concrete: #808080;
  --stone: #444444;
  --outline: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-concrete: var(--concrete);
  --color-stone: var(--stone);
  --color-outline: var(--outline);
  
  --font-sans: var(--font-inter-tight);
  
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter-tight), Arial, Helvetica, sans-serif;
  }
}
